extends ../node_modules/jade-bootstrap/_bootstrap
append body
  .container
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
        a(href="/")
            img(src="../public/images/greenZebra.png")
        a(class="navbar-brand" href="/") GREEN ZEBRA